#image {
    border-radius: 10px;
    object-fit: cover;
    

}
.container{
    display: flex;
    justify-content: center;
    padding-top: 15%;

}
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
